// @import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Inconsolata|Josefin+Slab:400,400i,600,600i|Space+Mono:400,700,700i');

$color-primary: #000000;
$color-dark: black;
$color-secondary: #fde3a7;
$color-light: white; 
$color-text: black;
$color-background: white;//#fde3a7; 

$font-title: 'Amatic SC', cursive;
$font-family-base: 'Inconsolata';
$font-size-base: 14px;
$transition-timing: 0.3s;

// font-family: 'Amatic SC', cursive;
// font-family: 'Space Mono', monospace;
// font-family: 'Josefin Slab', serif;
// font-family: 'Inconsolata', monospace;