<div class="preview-editor_container">
  <div
    class="preview-editor_component"
    ng-repeat="comp in vm.components | filter:comp.position"
  >
    <!--EDIT MODE-->
    <div ng-if="vm.editable" class="preview-editor_isediting">
      <div class="preview-editor_desc">
        <span>{{comp.type | uppercase}}</span>
      </div>
      <div class="preview-editor_edit">
        <div 
          class="preview-editor_edit-elt preview-editor_edit-edit"
          ng-click="vm.goToEditMode(comp)"  
        >
          <i class="pencil icon"></i>
        </div>
        <div 
          class="preview-editor_edit-elt preview-editor_edit-edit"
          ng-click="vm.deleteComp(comp)"  
        >
          <i class="delete icon"></i>
        </div>
        <div 
          class="preview-editor_edit-elt preview-editor_edit-up"
          ng-click="vm.changePos(comp, 'up')"
        >
          <i class="arrow up icon"></i>
        </div>
        <div 
          class="preview-editor_edit-elt preview-editor_edit-down"
          ng-click="vm.changePos(comp, 'down')"
        >
          <i class="arrow down icon"></i>
        </div>
      </div>
    </div>
    
    <!--CONTENT-->
    <div ng-if="comp.isEditing">
      <editor-comp 
        ng-if="comp.type !== 'image'"
        type="{{comp.type}}"
        comp="comp"
      >
      </editor-comp>
      <div ng-if="comp.type == 'image'">
        <img 
          ng-src="assets/assets/thumb/mini_{{comp.content.name}}" 
          alt=""
          class="preview-editor_img-{{comp.content.position}} preview-editor_img-{{comp.content.fullWidth}}"
        >
        <button 
          ng-click="vm.changeImage(comp)"
          class="ui positive right labeled icon button"
        >
        <span ng-if="rvm.fr">Changer</span>
        <span ng-if="rvm.it">Cambiare</span>
        </button>
      </div>
      
    </div>
    <div ng-if="!comp.isEditing">
      <div 
        ng-if="comp.type == 'paragraph' || comp.type == 'subtitle'"
        ng-bind-html="comp.content"
        class="preview-editor_text-{{comp.type}}"
      >
      </div>
      <div ng-if="comp.type == 'image'">
        <img 
          ng-src="assets/assets/thumb/mini_{{comp.content.name}}" 
          alt=""
          class="preview-editor_img-{{comp.content.position}} preview-editor_img-{{comp.content.fullWidth}}"
        >
      </div>
      <div ng-if="comp.type == 'catch'">
        <p class="preview-editor_catch">"<span ng-bind-html="comp.content"></span>"</p>
      </div>
    </div>
  </div>
</div>


<!--MODAL CHANGE IMAGE-->
<div class="ui modal change-image {{vm.randomModalClass}}">
  <i class="close icon"></i>
  <div class="header">
    <div>
      <span ng-show="vm.fr">Choisis une nouvelle image</span>
      <span ng-show="vm.it">Scegli un'altra immagine</span>      
    </div>
    {{vm.editingImage | json}}
    <img 
      ng-if="vm.editingImage"
      class="article-gallery-img"
      ng-src="assets/assets/thumb/mini_{{vm.editingImage.asset_name}}" 
    >
  </div>
  <div class="description">
    <div class="field assets-modal">
      <asset-picker 
        assets="vm.assets" 
        disable-place="true" 
        context="previewEditor"
      ></asset-picker> 
    </div>
    <div>
      <span class="right floated">
        <div class="ui checkbox right floated">
          <input class="" type="checkbox" name="{{vm.editingImage.asset_name}}" value="{{vm.editingImageWidth}}">
          <label>Full width</label>
        </div>
      </span>
    </div>
    <div>
      <select class="ui dropdown" 
        ng-if="vm.isEditing" 
        ng-model="vm.editingImagePosition"
      >
        <option value="left">Left</option>
        <option value="center">Center</option>
        <option value="left">Right</option>
      </select>
    </div>
  </div>
  <div class="actions">
    <div 
      class="ui positive right labeled icon button"
      ng-click="vm.confirmImage()"
    >
      <span ng-show="vm.fr">Confirmer</span>
      <span ng-show="vm.it">Confermare</span>
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
