*:focus {
  outline: none;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.normal {
  font-weight: normal;
  font-style: normal;
}

.section {
  display: flex; 
  justify-content: space-between;
  margin: 50px 20px 0 0;
}

.countries-table, .articles-table {
  margin-left: 20px;
  width: 80%;
}

.change-lang {
  position: absolute;
  right: 10px;
}

.menu-item {
  font-size: 1.5em;
}

.large-button {
  min-width: 80px;
}

.header-pos {
  margin: 10px 10px;
}

.image-edit {
  position: relative;
  cursor: pointer;
  width: 20px;
  color: white;
  top: 30px;
  font-size: 20px;
  left: 92%;
}

.assets-modal {
  padding: 15px;
}

.upload-title {
  border: 1px solid lightgrey;
  max-width: 220px;
  border-radius: 5px;
  padding: 10px 25px !important;
}

.upload-title:hover {
  background-color: grey;
  border: 1px solid black;
  color: white !important;
  transition: all 0.2s;
}
.uploadContainer {
  height: 15vw;
  min-width: 50vw;
  margin: 0 20vw;

}

.uploadBox {
  position: relative;
  padding: 6.25rem 1.25rem;
  text-align: center;
  background-color: #b2bec3;
  outline: 2px dashed lightgrey;
  outline-offset: -10px;
}

.uploadLabel {
  position: relative;
  cursor: pointer;
  border: 2px solid #dfe6e9;
  border-radius: 4px;
  color: #dfe6e9;
  padding: 0.625rem 1.25rem;
  font-size: 1.25em;
  font-weight: 700;
  transition: color 0.3s, border 0.3s;
}

.uploadLabel:hover {
  color: #2c3e50;
  border: 2px solid #2c3e50;
}

.dragover {
  background-color: #dfe6e9;
}

.progress {
  margin-top: 10px;
}

.preview {
  margin-top: 10px;
}

.preview-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.preview-upload {
  display: flex;
  flex-direction: column;
  margin: 10px ;
  max-width: 250px;
}

.assets-library-container {
  margin-top: 20px;
}
.assets-library {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.asset-picker-img {
  transition: opacity 0.2s ease-in;
}

.card {
  width: 250px !important;
}

.card-gallery {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 0;
}

img {
  max-height: 300px;
}

.gallery-check {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
}

.article-gallery-img {
  max-height: 150px; 
  margin: 5px;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}

.travel-header {
  display: flex;
  flex-direction: row;
}

.travel-img {
  display: flex;
  margin: 10px auto;
  max-height: 200px;
}

.travel-description {
  align-content: flex-start;
  padding: 0 15px; 
}

#map-travel-search {
  height: 300px;
  width: 100%;
}

.map-search {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 5;
  margin-bottom: 10px;
}

.tags-container {
  display:flex;
  flex-direction: row;
}

.tags-category {
  display: flex;
  flex-direction: row;
}

.category-label {
  height: 27px;
  font-weight: bold;
  text-align: center;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 0 15px;
}
.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10px;
}

.tagg {
  margin: 0 10px 10px 0 !important;
}

.aside-rotate {
  font-size: 25px;
  margin: 350px -140px 0 -150px;
  height: 100%;
  width: 400px;
  transform: rotate(-90deg);
}
.article {
  display: flex;
}

.assets-upload {
  margin: 20px 60px;
}



.action-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  transition: transform 0.2s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
}

.text-editor {
  &_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }
  &_action-buttons {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
    
  }

  &_active-action {
    width: 80%;
  }
}

.editor-comp {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_content {
    font-size: 1.5em;
    padding: 0.5em;
    margin: 1em 0;
  }

  &_actions {
    display: none;
    justify-content: center;
    align-content: center;
    background-color: lightgray;
    border-radius: 5px;

    &-btn {
      padding: 0.5em;
      cursor: pointer;
    }
  }
}