<div class="article">
  <div class="aside-rotate">
    <div ng-if="vm.fr" class="">Edition d'article :<span ng-if="!vm.json_in.newarticle"> {{vm.json_in.article_title_fr}}</span><span ng-if="vm.json_in.newarticle"> nouvel article</span></div>
    <div ng-if="vm.it" class="">Edizione dell'articolo :<span ng-if="!vm.json_in.newarticle"> {{vm.json_in.article_title_it}}<span ng-if="vm.json_in.newarticle"> nuovo articolo</span></div>
  </div>
  <div class="ui container main-container">
    <div class="ui vertical animated button blue right floated" 
          ng-if="!vm.isEditing"
          ng-click="vm.deleteArticle(vm.json_in.article_id)">
      <div ng-if="vm.fr" class="hidden content">Supprimer</div>
      <div ng-if="vm.it" class="hidden content">Cancellare</div>
      <div class="visible content">
        <i class="trash alternate icon"></i>
      </div>
    </div>
    <div class="ui vertical animated button blue right floated" 
          ng-if="!vm.isEditing"
          ng-click="vm.publishArticle()">
      <div ng-if="vm.fr" class="hidden content">Publier</div>
      <div ng-if="vm.it" class="hidden content">Pubblicare</div>
      <div class="visible content">
        <i class="paper plane icon"></i>
      </div>
    </div>
    <div class="ui vertical animated button blue right floated" 
          ng-if="!vm.isEditing && vm.isPublished"
          ng-click="vm.unpublishArticle()">
      <div ng-if="vm.fr" class="hidden content">Dépublier</div>
      <div ng-if="vm.it" class="hidden content">Depubblicare</div>
      <div class="visible content">
        <i class="fire extinguisher icon"></i>
      </div>
    </div>
    <div class="ui vertical animated button blue right floated" 
          ng-if="!vm.isEditing"
          ng-click="vm.edit()">
      <div ng-if="vm.fr" class="hidden content">Editer</div>
      <div ng-if="vm.it" class="hidden content">Modificare</div>
      <div class="visible content">
        <i class="pencil alternate icon"></i>
      </div>
    </div>
    <div class="ui vertical animated button blue right floated large-button" 
          ng-if="vm.isEditing"
          ng-click="vm.saveArticle('direct')">
      <div ng-if="vm.fr" class="hidden content">Enregistrer</div>
      <div ng-if="vm.it" class="hidden content">Salvare</div>        
      <div class="visible content">
        <i class="check icon"></i>
      </div>
    </div>
    <h1 ng-if="vm.json_in.newarticle && vm.fr">Nouvel article</h1>
    <h1 ng-if="vm.json_in.newarticle && vm.it">Nuovo articolo</h1>    
    <h1 ng-if="!vm.json_in.newarticle && vm.fr">{{vm.json_in.article_title_fr}}</h1>
    <h1 ng-if="!vm.json_in.newarticle && vm.it">{{vm.json_in.article_title_it}}</h1>
  
    <form class="ui form" method="post" style="margin-top: 80px">
      <div ng-if="!vm.stepTwo">
        <!--TITLE-->
        <div class="field">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Titre</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Titolo</h4>          
          <div class="ui basic segment" ng-if="vm.isEditing">
            <input ng-show="vm.fr" type="text" class="" placeholder="Titre" ng-model="vm.json_in.article_title_fr">
            <input ng-show="vm.it" type="text" class="" placeholder="Titolo" ng-model="vm.json_in.article_title_it">
          </div>
          <div class="ui basic segment" ng-if="!vm.isEditing">
            <h3 ng-show="vm.fr">
              {{vm.json_in.article_title_fr}}
              <span class="italic" ng-show="!article.article_title_fr.length">
                it : {{article.article_title_it}}
              </span>
            </h3>
            <h3 ng-show="vm.it">
              {{vm.json_in.article_title_it}}
              <span class="italic" ng-show="!article.article_title_it.length">
                fr : {{article.article_title_fr}}
              </span>
            </h3>
          </div>
        </div>

        <!--COVER-->
        <div class="field">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Photo principale</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Foto principale</h4>          
          <div class="ui basic segment no-padding-right" ng-if="vm.isEditing">
            <img 
              ng-if="vm.fr && vm.json_in.article_cover_fr" 
              class="article-gallery-img"
              ng-src="{{vm.AWS_BUCKET_PATH}}thumb/mini_{{vm.json_in.article_cover_fr}}" 
            >
            <img 
              ng-if="vm.it && vm.json_in.article_cover_it" 
              class="article-gallery-img"
              ng-src="{{vm.AWS_BUCKET_PATH}}thumb/mini_{{vm.json_in.article_cover_it}}" 
            >
            <div class="ui vertical animated button blue right floated large-button" 
                  ng-click="vm.editCover()">
              <div ng-if="vm.fr" class="hidden content">Ajouter</div>
              <div ng-if="vm.it" class="hidden content">Aggiungere</div>        
              <div class="visible content">
                <i class="plus icon"></i>
              </div>
            </div>
          </div>
          <div class="ui basic segment" ng-if="!vm.isEditing">
            <img 
            ng-if="vm.fr && vm.json_in.article_cover_fr" 
            class="article-gallery-img"
            ng-src="{{vm.AWS_BUCKET_PATH}}thumb/mini_{{vm.json_in.article_cover_fr}}" 
            >
            <img 
              ng-if="vm.it && vm.json_in.article_cover_it" 
              class="article-gallery-img"
              ng-src="{{vm.AWS_BUCKET_PATH}}thumb/mini_{{vm.json_in.article_cover_it}}" 
            >
            <div ng-if="vm.fr && !vm.json_in.article_cover_fr">
              <h4>Insérez une photo principale pour l'article</h4>
            </div>
            <div ng-if="vm.it && !vm.json_in.article_cover_it">
              <h4>Inserire una foto principale per l'articolo</h4>
            </div>
          </div>
        </div>
        
        <!--TRAVEL-->
        <div class="ui grid">
          <div class="ui six wide column">
            <div class="field ui basic segment" ng-show="vm.fr">
              <h4 ng-show="vm.fr" class="ui horizontal divider">Voyage</h4> 
              <select class="ui dropdown" 
                      ng-if="vm.isEditing" 
                      ng-change="vm.getSelectedTravelCountries()">
                <option 
                  value="{{travel.travel_id}}"
                  ng-selected="travel.travel_id == selectedTravel.travel_id"
                  ng-repeat="travel in vm.travels">{{travel.travel_title_fr}}</option>
              </select>
              <div ng-if="!vm.isEditing">{{vm.selectedTravel.travel_title_fr}}</div>
            </div>
            <div class="field ui basic segment" ng-show="vm.it">
              <h4 ng-show="vm.it" class="ui horizontal divider">Viaggio</h4> 
              <select class="ui dropdown" 
                  ng-if="vm.isEditing"
                  ng-model="selectedTravel"
                  ng-change="vm.getSelectedTravelCountries()">
                <option 
                  value="{{travel.travel_id}}" 
                  ng-selected="travel.travel_id == selectedTravel.travel_id" 
                  ng-repeat="travel in vm.travels">{{travel.travel_title_it}}</option>
              </select>
              <div ng-if="!vm.isEditing">{{vm.selectedTravel.travel_title_it}}</div>
            </div>
            <!--
              <div class="ui vertical animated button right floated" 
                  ng-if="vm.isEditing"
                  ng-click="vm.addTravel()">
                <div class="hidden content">Add</div>
                <div class="visible content">
                  <i class="plus icon"></i>
                </div>
              </div>
            -->
          </div>
          
          <!--COUNTRY-->
          <div class="ui four wide column">
            <div class="field ui basic segment" ng-show="vm.fr">
              <h4 ng-show="vm.fr" class="ui horizontal divider">Pays</h4> 
              <select ng-class="{'ui dropdown': vm.json_in.article_travel_id != '', 'ui dropdown disabled': !vm.json_in.article_travel_id}"
                      ng-if="vm.isEditing" 
                      ng-model="vm.json_in.article_country_fr">
                <option ng-show="vm.json_in.article_country_fr" value="">{{vm.json_in.article_country_fr}}</option>
                <option value="{{country}}" ng-repeat="country in vm.selectedTravelCountries">{{country}}</option>
              </select>
              <div ng-if="!vm.isEditing">{{vm.json_in.article_country_fr}}</div>
            </div>
            <div class="field ui basic segment" ng-show="vm.it">
              <h4 ng-show="vm.it" class="ui horizontal divider">Paese</h4> 
              <select class="ui dropdown" 
                  ng-if="vm.isEditing"
                  ng-model="vm.json_in.article_country_it">
                <option ng-show="vm.json_in.article_country_it" value="">{{vm.json_in.article_country_it}}</option>
                <option value="{{country}}" ng-repeat="country in vm.selectedTravelCountries">{{country}}</option>
              </select>
              <div ng-if="!vm.isEditing">{{vm.json_in.article_country_it}}</div>
            </div>
            <!--
              <div class="ui vertical animated button right floated" 
                  ng-if="vm.isEditing"
                  ng-click="vm.addCountry()">
                <div class="hidden content">Add</div>
                <div class="visible content">
                  <i class="plus icon"></i>
                </div>
              </div>
            -->
  
          </div>
          
          <!--PLACE-->
          <div class="field ui basic segment six wide column">
            <h4 ng-show="vm.fr" class="ui horizontal divider">Lieu</h4>
            <h4 ng-show="vm.it" class="ui horizontal divider">Luogo</h4>
            <div class="ui" ng-if="vm.isEditing">
              <input ng-show="vm.fr" type="text" class="" placeholder="Lieu" ng-model="vm.json_in.article_place_fr">
              <input ng-show="vm.it" type="text" class="" placeholder="Luogo" ng-model="vm.json_in.article_place_it">
            </div>
            <div class="ui" ng-if="!vm.isEditing">
              <p ng-show="vm.fr">{{vm.json_in.article_place_fr}}</p>
              <p ng-show="vm.it">{{vm.json_in.article_place_it}}</p>
            </div>
          </div>

          
        </div> <!--row grid-->
        
        <!--DATES-->
        <div class="field ui basic segment">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Dates</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Data</h4>
          <div class="ui" ng-if="!vm.isEditing">
            <div ng-if="vm.articleDates.from">
              <p>
                <span ng-show="vm.fr">du </span>
                <span ng-show="vm.it">del </span>
                {{vm.articleDates.from}}
                <span ng-show="vm.fr">au </span>
                <span ng-show="vm.it">al </span>
                {{vm.articleDates.to}}
              </p>
            </div>
          </div>
          <div class="ui" ng-if="vm.isEditing">
          <div class="two fields">
              <div class="field">
                <label>
                  <span ng-show="vm.fr">Début de l'étape</span>
                  <span ng-show="vm.it">Inizio della tappa</span> 
                </label>
                <div class="ui calendar" id="rangestart">
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input 
                      type="text" 
                      placeholder="Start" 
                      value="{{vm.articleDates.from}}" 
                    />
                  </div>
                </div>
              </div>
              <div class="field">
                <label>
                  <span ng-show="vm.fr">Fin de l'étape</span>
                  <span ng-show="vm.it">Fine della tappa</span> 
                </label>
                <div class="ui calendar" id="rangeend">
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input 
                      type="text" 
                      placeholder="End" 
                      value="{{vm.articleDates.to}}" 
                    />
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="vm.json_in.article_date_to">
              <p>
                <span ng-show="vm.fr">du </span>
                <span ng-show="vm.it">del </span>
                {{vm.json_in.article_date_from}}
                <span ng-show="vm.fr">au </span>
                <span ng-show="vm.it">al </span>
                {{vm.json_in.article_date_to}}
              </p>
            </div>
            <div ng-if="!vm.json_in.article_date_to">
              <p>{{vm.json_in.article_date_from}}</p>
            </div>
          </div>
        </div>
        
        <!--SLUG-->
        <div class="field">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Slug</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Slug</h4>
          <div ng-if="vm.fr" class="ui basic segment">
              <input ng-if="vm.isEditing" type="text" class="" placeholder="Url" ng-model="vm.json_in.article_slug_fr">
              <p ng-if="!vm.isEditing">{{vm.json_in.article_slug_fr}}</p>
          </div> 
          <div ng-if="vm.it" class="ui basic segment">
            <input ng-if="vm.isEditing" type="text" class="" placeholder="Url" ng-model="vm.json_in.article_slug_it">
            <p ng-if="!vm.isEditing">{{vm.json_in.article_slug_it}}</p>
        </div>  
        </div>

        <!--SHORT DESCRIPTION-->
        <div class="field">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Description courte</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Corta descrizione</h4>
          <div class="ui basic segment" ng-if="vm.isEditing">
            <input ng-show="vm.fr" type="text" class="" placeholder="Courte description" ng-model="vm.json_in.article_short_desc_fr">
            <input ng-show="vm.it" type="text" class="" placeholder="Corta descrizione" ng-model="vm.json_in.article_short_desc_it">
          </div>
          <div class="ui basic segment" ng-if="!vm.isEditing">
            <p ng-show="vm.fr">{{vm.json_in.article_short_desc_fr}}</p>
            <p ng-show="vm.it">{{vm.json_in.article_short_desc_it}}</p>
          </div>
        </div>

        <!--GALLERY-->
        <div class="field article_gallery">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Gallerie</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Gallery</h4>
          <div class="ui basic segment no-padding-right" ng-if="vm.isEditing">
            <img  
              ng-repeat="image in vm.assetsGallery"
              class="article-gallery-img"
              ng-src="{{vm.AWS_BUCKET_PATH}}thumb/mini_{{image.asset_name}}" 
            >
            <div 
              class="ui vertical animated button blue right floated"
              ng-click="vm.editGallery = true"
              ng-show="!vm.editGallery"
              ng-disabled="vm.hasGallery"
            >
              <div ng-if="vm.fr" class="hidden content">Ajouter</div>
              <div ng-if="vm.it" class="hidden content">Aggiungere</div>
              <div class="visible content">
                <i class="plus icon"></i>
              </div>
            </div>
            <div ng-if="vm.editGallery">
              <asset-picker
                assets="vm.articleAssets"
                actions="false"
                allow-upload="false"
                is-gallery=true  
              >
              </asset-picker>
              <div>
                <button 
                  ng-click="vm.addArticleGallery()"
                  class="ui positive right labeled icon button">
                  <span ng-if="vm.fr">Ajouter</span>
                  <span ng-if="vm.it">Aggiungere</span>
                  <i class="checkmark icon"></i>
                </button>
                <button 
                  ng-click="vm.editGallery = false"
                  class="ui black deny button">
                  <span ng-if="vm.fr">Annuler</span>
                  <span ng-if="vm.it">Cancellare</span>
                </button>
              </div>
            </div>
          </div>
    
          <div class="ui basic segment" ng-if="!vm.isEditing">
            <img  
              ng-repeat="image in vm.assetsGallery"
              class="article-gallery-img"
              ng-src="{{vm.AWS_BUCKET_PATH}}thumb/mini_{{image.asset_name}}" 
            >
          </div>
        </div>
        
        <div class="ui vertical animated button blue right floated" 
            ng-click="vm.toggleStep()">
          <div class="hidden content">Next</div>
          <div class="visible content">
            <i class="angle right icon"></i>
          </div>
        </div>

      </div> <!--END STEP ONE-->
    
      <!--STEP TWO-->
      <div ng-if="vm.stepTwo">
        <div class="field">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Description longue</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Lungha descrizione</h4>
          <div class="ui basic segment" ng-if="vm.isEditing">
            <div>
              <text-editor actions="vm.actions" assets="vm.articleAssets"></text-editor>
              <preview-editor 
                ng-if="vm.articleComponents.length" 
                components="vm.articleComponents"
                editable="true"
                preview-editor-assets="vm.articleAssets"
              >
              </preview-editor>
            </div>
          </div>
    
          <div class="ui basic segment" ng-if="!vm.isEditing">
            <preview-editor 
              ng-if="vm.articleComponents.length" 
              components="vm.articleComponents"
              editable="false"
            >
          </div>
        </div>
  
        <div class="ui vertical animated button blue left floated" 
            ng-click="vm.toggleStep()">
          <div ng-if="vm.fr" class="hidden content">Précédent</div>
          <div ng-if="vm.it" class="hidden content">Precedente</div>
          <div class="visible content">
            <i class="angle left icon"></i>
          </div>
        </div>
        <div class="ui vertical animated button blue right floated large-button" 
              ng-if="vm.isEditing"
              ng-click="vm.saveArticle()">
          <div ng-if="vm.fr" class="hidden content">Enregistrer</div>
          <div ng-if="vm.it" class="hidden content">Salvare</div>        
          <div class="visible content">
            <i class="check icon"></i>
          </div>
        </div>
      </div>
    </form>


  <!--MODAL COVER-->
  <div class="ui modal cover">
    <i class="close icon"></i>
    <div class="header">
      <div ng-if="">
        <span ng-show="vm.fr">Choisis une image principale pour cet article</span>
        <span ng-show="vm.it">Scegli un'immagine principale per questo articolo</span>      
      </div>
      <img 
        ng-if="vm.json_in.article_cover" 
        class="article-gallery-img"
        ng-src="{{vm.AWS_BUCKET_PATH}}thumb/mini_{{vm.json_in.article_cover}}" 
      >
    </div>
    <div class="description">
      <div class="field assets_modal">
        <asset-picker 
          assets="vm.articleAssets" 
          disable-place="true" 
          context="article"
        ></asset-picker> 
      </div>
    </div>
    <div class="actions">
      <div class="ui positive right labeled icon button">
        <span ng-show="vm.fr">Confirmer</span>
        <span ng-show="vm.it">Confermare</span>
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>

  <!--MODAL STEP-->
  <div class="ui modal dates {{vm.randomClass}}">
    <i class="close icon"></i>
    <div class="header">
      <span ng-show="vm.fr">Modifie les informations sur cette étape</span>
      <span ng-show="vm.it">Modificca le informazioni su questa tappa</span>      
    </div>

    <div class="content">
      <div class="ui form">
        <div class="two fields">
          <div class="field">
            <label>
              <span ng-show="vm.fr">Début de l'étape</span>
              <span ng-show="vm.it">Inizio della tappa</span> 
            </label>
            <div class="ui calendar" id="rangestart">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input 
                  type="text" 
                  placeholder="Start" 
                  value="{{vm.articleDates.from}}" 
                />
              </div>
            </div>
          </div>
          <div class="field">
            <label>
              <span ng-show="vm.fr">Fin de l'étape</span>
              <span ng-show="vm.it">Fine della tappa</span> 
            </label>
            <div class="ui calendar" id="rangeend">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input 
                  type="text" 
                  placeholder="End" 
                  value="{{vm.articleDates.to}}" 
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui positive right labeled icon button">
        <span ng-show="vm.fr">Confirmer</span>
        <span ng-show="vm.it">Confermare</span>
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>


        

<!-- <pre>{{vm.json_in | json}}</pre> -->
