<div class="section">
  <aside-menu items="vm.articles" context="articles"></aside-menu>
  <div class="articles-table">
    <table class="ui blue striped table">
      <thead>
        <tr>
          <th>Place</th>
          <th>Title</th>
          <th>Travel</th>
          <th>Country</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="article in vm.articles" style="cursor: pointer;"> 
          <td ui-sref="logged.article({resourcePath: article.article_id})"><p ng-show="vm.fr">{{article.article_place_fr}}</p><p ng-show="vm.it">{{article.article_place_it}}</p></td>
          <td ui-sref="logged.article({resourcePath: article.article_id})"><p ng-show="vm.fr">{{article.article_title_fr}}</p><p ng-show="vm.it">{{article.article_title_it}}</p></td>
          <td><p ng-show="vm.fr">{{article.article_travel_fr}}</p><p ng-show="vm.it">{{article.article_travel_it}}</p></td>
          <td><p ng-show="vm.fr">{{article.article_country_fr}}</p><p ng-show="vm.it">{{article.article_country_it}}</p></td>
          <td style="width: 110px;" class="right aligned">
              <i class="pencil alternate icon" ui-sref="logged.article({articleId: article.article_id})" style="cursor: pointer;"></i>
              <i class="trash alternate icon" ng-click="vm.deleteArticle(article.article_id)" style="cursor: pointer;"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="ui vertical animated button blue right floated" 
      ui-sref="logged.article({articleId:'newarticle'})">
      <div class="hidden content">Add</div>
      <div class="visible content">
        <i class="plus icon"></i>
      </div>
    </div>
  </div>
</div>

