<div>
    <div class="ui inverted segment top fixed menu" style="min-height: 50px;">
        <div class="header-pos">
          <h4 class="ui grey inverted left floated">Carte de voyages</h4>  
        </div>
        <a class="item" ui-sref=".travels">
          <span ng-if="rvm.fr">Voyages</span>
          <span ng-if="rvm.it">Viaggi</span>
        </a>
        <a class="item" ui-sref=".articles">
          <span ng-if="rvm.fr">Articles</span>
          <span ng-if="rvm.it">Articoli</span>
        </a>

        <a class="item" ui-sref=".assets">
          <span ng-if="rvm.fr">Images / Vidéos</span>
          <span ng-if="rvm.it">Foto / Video</span>
        </a>
        <div class="header-pos change-lang">
          <h4 class="ui grey inverted right floated header" style="cursor: pointer;">
              <span ng-click="vm.changeLang()"><i class="france flag"></i> FR</span> | <span ng-click="vm.changeLang()"><i class="italy flag"></i> IT</span>
          </h4>
          <div ng-click="vm.logout()">
            <span> | </span>
            <i class="power off icon"></i>
          </div>
        </div>
    </div>
    
    <div class="ui grid">
        <div class="ui row">
            <div class="ui sixteen wide column">
                <div class="segment">
                    <div ui-view></div>
                </div>
            </div>
        
        </div>
    </div>
</div>