<div class="section">
  <aside-menu items="vm.travels" context="travels"></aside-menu>
    <div class="travels-table">
    <table class="ui blue striped table">
      <thead>
        <tr>
          <th>Travels</th>
            <th>Description</th>
            <th>Steps</th>
            <th>Dates</th>
            <th>Edit/Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="travel in vm.travels"> 
          <td><p ng-show="vm.fr">{{travel.travel_title_fr}}</p><p ng-show="vm.it">{{travel.travel_title_it}}</p></td>
          <td style="max-width: 20em"><p ng-show="vm.fr">{{travel.travel_desc_fr}}</p><p ng-show="vm.it">{{travel.travel_desc_it}}</p></td>
          <td><p id="travel_{{travel.travel_id}}"></p></td>
          <td><p>{{travel.travel_start_date}} - {{travel.travel_end_date}}</p></td>
          <td style="width: 110px;" class="right aligned">
            <i class="pencil alternate icon" ng-click="vm.editTravel(travel)" style="cursor: pointer;"></i>
            <i class="trash alternate icon" ng-click="vm.removeTravel(travel.travel_id)" style="cursor: pointer;"></i>
        </td>
        </tr>
      </tbody>
    </table>
    <div
      class="ui vertical animated button blue right floated" 
      ng-click="vm.addTravel()">
      <div class="hidden content">Add</div>
      <div class="visible content">
        <i class="plus icon"></i>
      </div>
    </div>
    
    <!--MODAL-->
    <div class="ui modal travel">
      <i class="close icon"></i>
      <div class="header">
        <div ng-if="!vm.edit">
          <span ng-show="vm.fr">Nouveau voyage</span>
          <span ng-show="vm.it">Nuovo viaggio</span>      
        </div>
        <div ng-if="vm.edit">
          <span ng-show="vm.fr">Modifier le pays</span>
          <span ng-show="vm.it">Modificare il paese</span>      
        </div>
      </div>
      <div>
        <div class="description scrolling content">
          <div class="field">
            <div class="ui basic segment">
              <h4 ng-show="vm.fr" class="ui horizontal divider">Titre du voyage</h4>
              <h4 ng-show="vm.it" class="ui horizontal divider">Titolo del viaggio</h4> 
              <div class="ui large fluid input">
                <input ng-if="vm.fr" type="text" class="" placeholder="Nom" ng-model="vm.travel.travel_title_fr">
                <input ng-if="vm.it" type="text" class="" placeholder="Nome" ng-model="vm.travel.travel_title_it">
              </div>
              <div ng-show="vm.edit && vm.travel.travel_cover">
                <img class="travel-img" ng-src="assets/assets/thumb/mini_{{vm.travel.travel_cover}}" alt="">
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui basic segment">
              <h4 ng-show="vm.fr" class="ui horizontal divider">Ajouter un pays</h4>
              <h4 ng-show="vm.it" class="ui horizontal divider">Aggiungere un paese</h4> 
              <h4 ng-show="vm.fr">Pays traversés</h4>
              <h4 ng-show="vm.it">Paesi attraversati</h4>
              <!--TODO : système de tag pour supprimer un pays -->
              <p ng-show="vm.fr">{{vm.travel.travel_countries_fr}}</p>
              <p ng-show="vm.it">{{vm.travel.travel_countries_it}}</p> 
              <div class="ui large fluid input map-search">
                <input ng-keyup="vm.handleTravelCountries($event)" id="map-search" ng-if="vm.fr" type="text" class="" placeholder="Nom" ng-model="vm.travel.travel_editing_country">
                <input ng-keyup="vm.handleTravelCountries($event)" id="map-search" ng-if="vm.it" type="text" class="" placeholder="Nome" ng-model="vm.travel.travel_editing_country">
              </div>
              <div ng-show="!vm.edit" id="map-travel-search"></div>
            </div>
          </div>
  
            
          <div class="ui basic segment">
            <h4 ng-show="vm.fr" class="ui horizontal divider">Dates du voyage</h4>
            <h4 ng-show="vm.it" class="ui horizontal divider">Date del viaggio</h4> 
            <div class="ui form">
              <div class="two fields">
                <div class="field">
                  <div class="ui calendar" id="rangestart">
                    <div class="ui input left icon">
                      <i class="calendar icon"></i>
                      <input type="text" placeholder="Start" value="vm.travel.travel_start_date" ng-model="vm.travel.travel_start_date">
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="ui calendar" id="rangeend">
                    <div class="ui input left icon">
                      <i class="calendar icon"></i>
                      <input type="text" placeholder="End" value="vm.travel.travel_end_date" ng-model="vm.travel.travel_end_date">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
          <div class="field">
            <div class="ui basic segment">
              <h4 ng-show="vm.fr" class="ui horizontal divider">Description</h4>
              <h4 ng-show="vm.it" class="ui horizontal divider">Descrizione</h4>
              <div class="ui large fluid input">
                <input ng-show="vm.fr" type="text" class="" placeholder="Description" ng-model="vm.travel.travel_desc_fr">
                <input ng-show="vm.it" type="text" class="" placeholder="Descrizione" ng-model="vm.travel.travel_desc_it">
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui basic segment">
              <h4 ng-show="vm.fr" class="ui horizontal divider">Choisis une image principale pour ce pays</h4>
              <h4 ng-show="vm.it" class="ui horizontal divider">Scegli un'immagine principale per questo paese</h4>
              <asset-picker 
                assets="vm.assets" 
                disable-place="true"
                context="travels"
              >
              </asset-picker>
            </div>
          </div>
        </div>
      </div>
        <div class="actions">
          <div class="ui black deny button">Cancel</div>
          <div ng-show="!vm.edit" class="ui positive right labeled icon button" ng-click="vm.saveTravel(vm.travel)">Save<i class="checkmark icon"></i></div>
          <div ng-show="vm.edit" class="ui positive right labeled icon button" ng-click="vm.updateTravel(vm.travel, vm.travel.travel_id)">Save<i class="checkmark icon"></i> </div>           
        </div>
      </div>
    </div>
    </div>
</div>





