<div class="travel-section">
  <div class="travel-btns">
    <div class="ui vertical animated button blue right floated" 
          ng-click="vm.removeTravel()">
      <div ng-if="vm.fr" class="hidden content">Supprimer</div>
      <div ng-if="vm.it" class="hidden content">Cancellare</div>
      <div class="visible content">
        <i class="trash alternate icon"></i>
      </div>
    </div>
    <div class="ui vertical animated button blue right floated" 
          ng-click="vm.saveTravel()">
      <div ng-if="vm.fr" class="hidden content">Enregistrer</div>
      <div ng-if="vm.it" class="hidden content">Salva</div>
      <div class="visible content">
        <i class="check icon"></i>
      </div>
    </div>
    <div class="ui vertical animated button blue right floated" 
          ng-click="vm.saveAndPublishTravel()">
      <div ng-if="vm.fr" class="hidden content">Publier</div>
      <div ng-if="vm.it" class="hidden content">Pubblica</div>
      <div class="visible content">
        <i class="paper plane alternate icon"></i>
      </div>
    </div>
    <div class="ui vertical animated button blue right floated" 
          ng-if="vm.isPublished"
          ng-click="vm.unpublishTravel()">
      <div ng-if="vm.fr" class="hidden content">Dépublier</div>
      <div ng-if="vm.it" class="hidden content">Depubblicare</div>
      <div class="visible content">
        <i class="fire extinguisher icon"></i>
      </div>
    </div>
  </div>
  
  <div class="ui basic segment">
    <h1 ng-if="vm.fr">{{vm.travel.travel_title_fr}}</h1>
    <h1 ng-if="vm.it">{{vm.travel.travel_title_it}}</h1>
    <span ng-if="vm.isPublished && vm.fr">Publié le {{vm.travel.travel_published_date_fr}}</span>
    <span ng-if="vm.isPublished && vm.it">Pubblicato {{vm.travel.travel_published_date_it}}</span>
    <span ng-if="!vm.isPublished && vm.fr">Non publié</span>
    <span ng-if="!vm.isPublished && vm.it">Non pubblicato</span>
  </div>
  
  
  <div class="country-header">
    <div class="country-cover-img">
      <div ng-click="vm.editCover()" class="image-edit">
        <i class="pencil alternate icon"></i>
      </div>
      <img ng-src="assets/img/{{vm.country.country_cover}}" alt="">
    </div>
  </div>
  
  <div class="travel" id="{{vm.travel.travel_id}}">
    <div class="content">
      <div class="field">
        <div class="ui basic segment">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Titre du voyage</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Titolo del viaggio</h4> 
          <div class="ui large fluid input">
            <input ng-if="vm.fr" type="text" class="" placeholder="Nom" ng-model="vm.travel.travel_title_fr">
            <input ng-if="vm.it" type="text" class="" placeholder="Nome" ng-model="vm.travel.travel_title_it">
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui basic segment">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Type de voyage</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Tipo di viaggio</h4> 
          <div class="form field select">
            <select ng-if="vm.fr" class="ui fluid dropdown" 
              ng-model="vm.selectedCategory"
              ng-change="vm.setSelectedCategory($event)"
              ng-options="category.category_label_fr for category in vm.categories"
            >
            </select>
            <select ng-if="vm.it" class="ui fluid dropdown" 
              ng-model="vm.selectedCategory"
              ng-change="vm.setSelectedCategory(category)"
              ng-options="category.category_label_it for category in vm.categories"
            >
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui basic segment">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Photo principale</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Foto principale</h4>
          <div ng-show="vm.fr && vm.travel.travel_cover_fr">
            <img class="travel-img" ng-src="{{vm.AWS_BUCKET_PATH}}thumb/mini_{{vm.travel.travel_cover_fr}}" alt="">
          </div>
          <div ng-show="vm.it && vm.travel.travel_cover_it">
            <img class="travel-img" ng-src="{{vm.AWS_BUCKET_PATH}}thumb/mini_{{vm.travel.travel_cover_it}}" alt="">
          </div>
          <div>
            <div class="ui vertical animated button blue right floated" 
                ng-click="vm.openCoverModal()">
            <div ng-if="vm.fr" class="hidden content">Editer</div>
            <div ng-if="vm.it" class="hidden content">Cambiare</div>
            <div class="visible content">
              <i class="pencil alternate icon"></i>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui basic segment">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Ajouter un pays</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Aggiungere un paese</h4> 
          <h4 ng-show="vm.fr">Pays traversés</h4>
          <h4 ng-show="vm.it">Paesi attraversati</h4>
          <p ng-show="vm.fr">
            <tag 
              ng-repeat="travel in vm.travel.travel_countries_fr track by $index"
              label="travel"
              deletable="true"
              id="{{vm.travel.travel_id}}"
              cb="vm.deleteTravelCountry(travel)"></tag>
          </p>
          <p ng-show="vm.it">
            <tag 
              ng-repeat="travel in vm.travel.travel_countries_it track by $index" 
              label="travel"
              deletable="true"
              id="{{vm.travel.travel_id}}"
              cb="vm.deleteTravelCountry(travel)"
            >
            </tag>
          </p>
          <div class="ui large fluid action input">
            <input ng-keyup="vm.handleTravelCountries($event)" ng-if="vm.fr" type="text" class="" placeholder="Nom" ng-model="vm.travel.travel_editing_country">
            <input ng-keyup="vm.handleTravelCountries($event)" ng-if="vm.it" type="text" class="" placeholder="Nome" ng-model="vm.travel.travel_editing_country">
            <button ng-click="vm.addTravelCountry()" class="ui button">+</button>
          </div>
        </div>
      </div>

      <!--TABLE STEPS-->
      <div class="ui basic segment">
        <h4 ng-show="vm.fr" class="ui horizontal divider">Etapes du voyage</h4>
        <h4 ng-show="vm.it" class="ui horizontal divider">Tappe del viaggio</h4> 
        <div class="country-steps">
          <table class="ui blue striped table">
            <thead>
              <tr>
                <th>
                  <span ng-show="vm.fr">Lieu</span>
                  <span ng-show="vm.it">Posto</span>
                </th>
                <th>
                  <span ng-show="vm.fr">Titre</span>
                  <span ng-show="vm.it">Titolo</span>
                </th>
                <th>
                  <span ng-show="vm.fr">Statut</span>
                  <span ng-show="vm.it">Stato</span>
                </th>
                <th class="right aligned">
                  <span ng-show="vm.fr">Détail de l'article</span>
                  <span ng-show="vm.it">Dettaglio dell'articolo</span>
                </th>
              </tr>
            </thead>
            <tbody id="sortable">
              <tr data-article={{article}} ng-repeat="article in vm.travelArticles" style="cursor: pointer;"> 
                <td><p ng-show="vm.fr">{{article.article_place_fr}}</p><p ng-show="vm.it">{{article.article_place_it}}</p></td>
                <td><p ng-show="vm.fr">{{article.article_title_fr}}</p><p ng-show="vm.it">{{article.article_title_it}}</p></td>
                <td>
                  <p ng-show="vm.fr">{{article.article_published_fr === 1 ? 'Publié' : 'Brouillon'}}</p>
                  <p ng-show="vm.it">{{article.article_published_it === 1 ? 'Pubblicato' : 'Salvato'}}</p></td>
                <td class="right aligned">
                  <a ui-sref="logged.article({articleId: article.article_id})">
                    <i class="pencil alternate icon" style="cursor: pointer;"></i>
                  </a>
                </td> 
              </tr>
            </tbody>
          </table>
          <div> 
            <label for="travel_same_start_end">
              <span ng-show="vm.fr">L'étape de départ et l'étape d'arrivée sont la même</span>
              <span ng-show="vm.it">La tappa di arrivo e di partenza sono la stessa</span>
            </label>
            <input id="travel_same_start_end" type="checkbox" ng-model="vm.travel.travel_same_start_end">
          </div>
        </div>
      </div>
        
      <!--DATES-->
      <div class="ui basic segment">
        <h4 ng-show="vm.fr" class="ui horizontal divider">Dates du voyage</h4>
        <h4 ng-show="vm.it" class="ui horizontal divider">Date del viaggio</h4> 
        <div class="ui form">
          <div class="two fields">
            <div class="field">
              <div class="ui calendar" id="rangestart">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" placeholder="Start" value="vm.travel.travel_start_date" ng-model="vm.travel.travel_start_date">
                </div>
              </div>
            </div>
            <div class="field">
              <div class="ui calendar" id="rangeend">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" placeholder="End" value="vm.travel.travel_end_date" ng-model="vm.travel.travel_end_date">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--SHORT DESCRIPTION-->
      <div class="field">
        <div class="ui basic segment">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Description courte</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Descrizione breve</h4>
          <div class="ui large fluid input">
            <input ng-show="vm.fr" type="text" class="" placeholder="Description" ng-model="vm.travel.travel_desc_fr">
            <input ng-show="vm.it" type="text" class="" placeholder="Descrizione" ng-model="vm.travel.travel_desc_it">
          </div>
        </div>
      </div>

      <!--LONG DESCRIPTION-->
      <div class="field">
        <div class="ui basic segment">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Description longue</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Descrizione lunga</h4>
          <div id="editor-description"></div>
        </div>
      </div>
      
      <!--MAP DESCRIPTION-->
      <div class="field">
        <div class="ui basic segment">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Description avec carte</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Descrizione con mappa</h4>
          <div id="editor-map"></div>
        </div>
      </div>

      <!--DESCRIPTION BIS-->
      <div class="field">
        <div class="ui basic segment">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Description longue (suite)</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Descrizione lunga (bis)</h4>
          <div id="editor-description-bis"></div>
        </div>
      </div>
     

      <!--SLUG-->
      <div class="field">
        <div class="ui basic segment">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Slug</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Slug</h4>
          <div class="ui large fluid input">
            <input ng-show="vm.fr" type="text" class="" placeholder="Slug" ng-model="vm.travel.travel_slug_fr">
            <input ng-show="vm.it" type="text" class="" placeholder="Slug" ng-model="vm.travel.travel_slug_it">
          </div>
        </div>
      </div>
      
      <!--PLAYLIST-->
      <div class="field">
        <div class="ui basic segment">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Playlist Spotify</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Playlist SPotify</h4>
          <div class="ui large fluid input">
            <input ng-show="vm.fr" type="text" class="" placeholder="Url playlist" ng-model="vm.travel.travel_playlist_fr">
            <input ng-show="vm.it" type="text" class="" placeholder="Url playlist" ng-model="vm.travel.travel_playlist_it">
          </div>
        </div>
      </div>

      <!--HASHTAGS-->
      <div class="field">
        <div class="ui basic segment">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Instagram - Ajouter un hashtag</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Instagram - Aggiungere un hashtag</h4> 
          <h4>Hashtags</h4>
          <p>
            <tag 
              ng-repeat="hash in vm.travel.travel_hashtags track by $index" 
              label="hash"
              deletable="true"
              id="{{vm.travel.travel_id}}"
              cb="vm.deleteTravelHashtag(hash)"
            >
            </tag>
          </p>
          <div class="ui large fluid action input">
            <input ng-keyup="vm.handleTravelHashtags($event)" type="text" class="" placeholder="Hashtags" ng-model="vm.travel.travel_editing_hashtag">
            <button ng-click="vm.addTravelHashtag()" class="ui button">+</button>
          </div>
        </div>
      </div>

      <div class="ui basic segment">
        <div class="ui vertical animated button blue right floated" 
              ng-click="vm.saveTravel()">
          <div ng-if="vm.fr" class="hidden content">Enregistrer</div>
          <div ng-if="vm.it" class="hidden content">Salvare</div>        
          <div class="visible content">
            <i class="check icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--MODAL COVER-->
  <div class="ui modal travelcover" id="{{vm.travelModalId}}">
    <i class="close icon"></i>
    <div class="header">
      <span ng-show="vm.fr">Choisis une image principale pour ce pays</span>
      <span ng-show="vm.it">Scegli un'immagine principale per questo paese</span>      
    </div>
    <div class="description">
      <div class="field assets_modal">
        <asset-picker 
          assets="vm.assets" 
          disable-place="true" 
          context="travel"
        ></asset-picker> 
      </div>
    </div>
    <div class="actions">
      <div class="ui black deny button" ng-click="vm.closeCoverModal()">
        <span ng-if="vm.fr">Annuler</span>
        <span ng-if="vm.it">Annula</span>
      </div>
      <div class="ui positive right labeled icon button" ng-click="vm.saveCover()">
          <span ng-if="vm.fr">Enregistrer</span>
          <span ng-if="vm.it">Salva</span>
          <i class="checkmark icon"></i></div>
    </div>
  </div>


  <div class="ui modal choose-map-point" id="{{vm.travelModalId}}">
    <i class="close icon"></i>
    <div class="header">
      <span ng-show="vm.fr">Choisis un endroit sur la carte</span>
      <span ng-show="vm.it">Scegli un posto sulla mappa</span>      
    </div>
    <div class="description">
      
      <div class="field">
        <div class="ui basic segment">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Lieu</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Luogo</h4> 
          <div class="ui large fluid input">
            <input id="pac-input" type="text" class="" placeholder="Lieu - Luogo" ng-model="vm.chooseMapPoint">
          </div>
        </div>
        <div class="ui basic segment">
          <div id="map"></div>
          <div id="infowindow-content">
            <img src="" width="16" height="16" id="place-icon">
            <span id="place-name"  class="title"></span><br>
            <span id="place-address"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui black deny button" ng-click="vm.closeCoverModal()">
        <span ng-if="vm.fr">Annuler</span>
        <span ng-if="vm.it">Annula</span>
      </div>
      <div class="ui positive right labeled icon button confirm-map-point">
          <span ng-if="vm.fr">Enregistrer</span>
          <span ng-if="vm.it">Salva</span>
          <i class="checkmark icon"></i></div>
    </div>
  </div>
</div>
