<div class="section">
  <aside-menu items="vm.travels" context="travels"></aside-menu>
  <div class="travels-section">
    <div class="travels-table">
      <table class="ui blue striped table">
        <thead>
          <tr>
            <th><span ng-show="vm.fr">Voyages</span><span ng-show="vm.it">Viaggi</span></th>
              <th><span ng-show="vm.fr">Description</span><span ng-show="vm.it">Descrizione</span></th>
              <th><span ng-show="vm.fr">Etapes</span><span ng-show="vm.it">Tappe</span></th>
              <th><span ng-show="vm.fr">Dates</span><span ng-show="vm.it">Date</span></th>
              <th><span ng-show="vm.fr">Publié</span><span ng-show="vm.it">Pubblicato</span></th>
              <th><span ng-show="vm.fr">Modifier/Suppr</span><span ng-show="vm.it">Modif./Canc.</span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="travel in vm.travels track by $index"> 
            <td><p ng-show="vm.fr">{{travel.travel_title_fr}}</p><p ng-show="vm.it">{{travel.travel_title_it}}</p></td>
            <td style="max-width: 20em"><p ng-show="vm.fr">{{travel.travel_desc_fr}}</p><p ng-show="vm.it">{{travel.travel_desc_it}}</p></td>
            <td><p id="travel_{{travel.travel_id}}"></p></td>
            <td><p>{{travel.travel_start_date}} - {{travel.travel_end_date}}</p></td>
            <td><p ng-show="vm.fr">{{travel.travel_published_date_fr}}</p><p ng-show="vm.it">{{travel.travel_published_date_it}}</p></td>
            <td style="" class="right aligned">
              <a ui-sref="logged.travel({travelId: travel.travel_id})">
                <i class="pencil alternate icon" style="cursor: pointer;"></i>
              </a>
              <i class="trash alternate icon" ng-click="vm.removeTravel(travel.travel_id)" style="cursor: pointer;"></i>
            </td> 
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="ui vertical animated button blue right floated travels-btn" 
      ui-sref="logged.travel({travelId:'newtravel'})">
      <div class="hidden content">
        <span ng-if="vm.fr">Ajouter</span>
        <span ng-if="vm.it">Nuovo</span>
      </div>
      <div class="visible content">
        <i class="plus icon"></i>
      </div>
    </div>

    <div class="travels-table">
      <table class="ui blue striped table">
        <thead>
          <tr>
            <th><span ng-show="vm.fr">Categorie</span><span ng-show="vm.it">Categoria</span></th>
            <th><span ng-show="vm.fr">Nom</span><span ng-show="vm.it">Nome</span></th>
            <th class="right aligned"><span ng-show="vm.fr">Modifier/Suppr</span><span ng-show="vm.it">Modif./Canc.</span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="category in vm.categories track by $index"> 
            <td>
              <div ng-if="!category.isEditing">
                <p ng-show="vm.fr">{{category.category_label_fr}}</p>
                <p ng-show="vm.it">{{category.category_label_it}}</p>
              </div>
              <div class="ui action input" ng-if="category.isEditing">
                <input type="text" ng-model="category.category_label_fr" ng-if="vm.fr" />
                <input type="text" ng-model="category.category_label_it" ng-if="vm.it" />
                <button ng-if="!category.isNew" class="ui button" ng-click="category.isEditing = false; vm.updateCategory(category)">Ok</button>
              </div>
            </td>
            <td>
              <p ng-if="!category.isNew">{{category.category_name}}</p>
              <div class="ui action input" ng-if="category.isNew">
                <input type="text" ng-model="category.category_name" />
                <button class="ui button" ng-click="vm.saveCategory(category)">Ok</button>
              </div>
            </td>
            <td class="right aligned">
              <div ng-if="!category.isNew">
                <a ng-click="category.isEditing = true">
                  <i class="pencil alternate icon" style="cursor: pointer;"></i>
                </a>
                <i class="trash alternate icon" ng-click="vm.removeCategory(category.category_id)" style="cursor: pointer;"></i>
              </div>
            </td> 
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="ui vertical animated button blue right floated travels-btn" 
      ng-click="vm.addCategory()">
      <div class="hidden content">
        <span ng-if="vm.fr">Ajouter</span>
        <span ng-if="vm.it">Nuovo</span>
      </div>
      <div class="visible content">
        <i class="plus icon"></i>
      </div>
    </div>
  </div>
</div>

