<!--ADD AN ASSET-->
<div class="assets-upload" ng-if="vm.allowUpload" class="ui accordion" ng-init="vm.initAccordion()">
  <div class="title upload-title">
    <i class="dropdown icon"></i>
    <span ng-if="vm.fr" style="font-size: 1.2em">Charger un fichier</span>
    <span ng-if="vm.it" style="font-size: 1.2em">Caricare un file</span>    
  </div>
  <div class="content">
    <div 
      ngf-select
      ngf-drop 
      ng-model="vm.newAssets"
      ngf-multiple="true" 
      ngf-drag-over-class="'dragover'" 
      class="uploadBox" >
      <p ng-if="vm.fr" class="uploadLabel"><i class="cloud load icon"></i> Choisis un fichier à télécharger</p>
      <p ng-if="vm.it" class="uploadLabel"><i class="cloud load icon"></i> Scegli un file da caricare</p>   
    </div>   
    <div class="ui indicating progress" data-value="vm.progress" id="progressBar" ng-if="vm.isSubmitted">
      <div class="bar">
        <div class="progress"></div>
      </div>
      <div ng-if="vm.fr" class="label">Fichiers en chargement</div>
      <div ng-if="vm.it" class="label">Caricamento</div>
      
    </div>
    <div class="preview">
      <div>
        <span ng-show="vm.fr" class="left floated">Aperçu de l'image :</span>
        <span ng-show="vm.it" class="left floated">Preview dell'immaggine:</span>        
        <button ng-disabled="!vm.newAssets" class="ui button right floated" ng-click="vm.submit()">
          <span ng-show="vm.fr">Charger</span>
          <span ng-show="vm.it">Caricare</span>
        </button>
      </div>
      <div class="preview-gallery">
        <div ng-repeat="asset in vm.newAssets" class="preview-upload">
          <div class="ui mini input">
            <input ng-show="vm.fr" ng-model="vm.newAssetsData[$index].title_fr" type="text" placeholder="Titre...">
            <input ng-show="vm.it" ng-model="vm.newAssetsData[$index].title_it" type="text" placeholder="Titolo...">                
          </div>
          <div class="ui mini input">
            <input ng-show="vm.fr" ng-model="vm.newAssetsData[$index].place_fr" type="text" placeholder="Lieu...">
            <input ng-show="vm.it" ng-model="vm.newAssetsData[$index].place_it" type="text" placeholder="Luogo...">                
          </div>
          <div class="ui mini input">
              <input ng-show="vm.fr" ng-model="vm.newAssetsData[$index].country_fr" type="text" placeholder="Pays...">
              <input ng-show="vm.it" ng-model="vm.newAssetsData[$index].country_it" type="text" placeholder="Paese...">                
            </div>
          <div class="ui mini input">
            <input ng-show="vm.fr" ng-model="vm.newAssetsData[$index].desc_fr" type="text" placeholder="Description...">
            <input ng-show="vm.it" ng-model="vm.newAssetsData[$index].desc_it" type="text" placeholder="Descrizione...">                
          </div>
          <img style="height: 150px; margin: 10px;" ngf-src="vm.newAssets[$index]"> 
        </div>
      </div>
    </div>
  </div>
</div>

<!--LIBRARY-->
<div class="assets-library-container ui container" ng-init="vm.setCategories()">
  <div ng-if="vm.allowUpload">
    <h2 ng-if="vm.fr">Librairie</h2>
    <h2 ng-if="vm.it">Libreria</h2>
  </div>
  <div class="tags-container">
    <div class="tags-category">
      <div class="category-label">
        <span ng-if="vm.fr">Pays</span>
        <span ng-if="vm.it">Paese</span> 
      </div>
      <div class="tags">
        <tag ng-repeat="tag in vm.travelCategories" label="tag" ng-click="vm.tag = tag; vm.category = 'travel'"></tag>
      </div>
    </div>
    <div ng-if="!vm.disablePlace" class="tags-category">
      <div class="category-label">
        <span ng-if="vm.fr">Lieu</span>
        <span ng-if="vm.it">Luogo</span>
      </div>
      <div class="tags">
        <tag ng-repeat="tag in vm.placeCategories" label="tag" ng-click="vm.tag = tag; vm.category = 'place'"></tag>
      </div>
    </div>
  </div>
  <div class="assets-library scrolling content">
    <div class="card-gallery">
        <div class="ui special cards">
          <div class="card" ng-repeat="asset in vm.assets | byTag: vm.tag: vm.category">
            
            <div class="blurring dimmable image" ng-init="vm.dimmer()">
              <div class="ui inverted dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui primary button" ng-click='vm.editAsset(asset)'>
                      <span><i class="pencil alternate icon"></i></span>                  
                    </div>
                    <div class="negative ui button" ng-click="vm.deleteAsset(asset.asset_id, asset.asset_name)">
                      <span><i class="trash alternate icon"></i></span>              
                    </div>
                  </div>
                </div>
              </div>
              <div 
                ng-if="vm.isGallery" 
                ng-init="checked = false"
                class="gallery-check"
                ng-click="checked = !checked; vm.toggleAsset(asset, checked)"
              >
                <input type="checkbox">
              </div>
              <img  
                ng-click="!vm.isGallery ? vm.chooseAsset(asset, $event, vm.context) : ''" 
                class="asset-picker-img"
                ng-src="assets/assets/thumb/mini_{{asset.asset_name}}" 
                style="max-height: 200px"
              >
            </div>
            <div ng-if="vm.actions" class="content">
              <a ng-if="vm.fr" class="header">{{asset.asset_title_fr}}</a>
              <a ng-if="vm.it" class="header">{{asset.asset_title_it}}</a>              
              <div class="meta">
                <span class="date">Uploaded on</span>    
              </div>
              <div class="meta">
                <span>
                  <span ng-show="vm.fr">Type : {{asset.asset_type}}  / Titre : {{asset.asset_title_fr}}</span>
                  <span ng-show="vm.it">Type : {{asset.asset_type}}  / Titre : {{asset.asset_title_it}}</span>
                </span>
              </div>
            </div>
            <div ng-if="vm.actions" class="extra content">
              <i ng-class="{'video icon': asset.asset_type == 'video', 'file image icon': asset.asset_type == 'image/jpeg' }"></i>
                {{asset.type}}
              <span class="right floated">
                  <div class="ui checkbox right floated" ng-if="vm.actions">
                    <input class="delete-assets" type="checkbox" name="{{asset.asset_name}}" value="{{asset.asset_id}}">
                    <label>Delete</label>
                  </div>
              </span>
            </div>
          </div>
        </div>
      </div>



      <!--<div ng-if="vm.actions">
        <span ng-show="vm.fr">Type : {{asset.asset_type}}  / Titre : {{asset.asset_title_fr}}</span>
        <span ng-show="vm.it">Type : {{asset.asset_type}}  / Titre : {{asset.asset_title_it}}</span>
        <span class="right floated" ng-click='vm.editAsset(asset)'><i class="pencil alternate icon"></i></span>                
        <span class="right floated" ng-click='vm.deleteAsset(asset.asset_id, asset.asset_name)'><i class="trash alternate icon"></i></span>
      </div>
      <img 
        ng-click="vm.chooseAsset(asset, $event)" 
        src="assets/assets/thumb/mini_{{asset.asset_name}}" 
        alt="{{asset.asset_name}}" 
        style="height: 150px;"
        class="asset-picker-img">
      <div class="ui checkbox right floated" ng-if="vm.actions">
        <input class="delete-assets" type="checkbox" name="{{asset.asset_name}}" value="{{asset.asset_id}}">
        <label>Delete</label>
      </div>
    </div>
  </div>-->
  <div class="ui row">
    <div style="width: 80vw">
      <div class="ui vertical animated button blue right floated" 
        ng-if="(vm.assets | byTag: vm.tag).length && vm.actions"
        ng-click="vm.deleteAssets()">
        <div class="hidden content">Confirm</div>
        <div class="visible content">
          <i class="trash alternate icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>


<!--MODAL-->
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    <span ng-show="vm.fr">Edition de l'image</span>
    <span ng-show="vm.it">Editare l'asset</span>      
  </div>
  <!-- <pre>{{vm.asset | json}}</pre> -->
  <div class="ui grid">
    <div class="ui row">
      <div class="field ten wide column">
        <div class="ui basic segment ">
          <h4 ng-show="vm.fr" class="ui horizontal divider">Asset</h4>
          <h4 ng-show="vm.it" class="ui horizontal divider">Asset</h4>
          <div class="ui large fluid input">
            <div class="cropArea">
              <img-crop 
                image="vm.assetToModify" 
                result-image="vm.modifiedAsset"
                area-type="{{vm.areaType}}"
                area-coords="{}"
                result-image-format="image/jpeg"></img-crop>
            </div>
            <!-- <img ng-src="assets/assets/img/{{vm.asset.asset_name}}" /> -->
          </div>
        </div>
      </div>
      <div class="description six wide column">
        <div class="field"> 
          <div class="ui basic segment">
            <h4 ng-show="vm.fr" class="ui horizontal divider">Nom</h4>
            <h4 ng-show="vm.it" class="ui horizontal divider">Nomee</h4> 
            <div class="ui large fluid input">
              <input ng-show="vm.fr" type="text" class="" placeholder="Nom" ng-model="vm.asset.asset_title_fr">
              <input ng-show="vm.it" type="text" class="" placeholder="Nome" ng-model="vm.asset.asset_title_it">
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui basic segment">
            <h4 ng-show="vm.fr" class="ui horizontal divider">Description</h4>
            <h4 ng-show="vm.it" class="ui horizontal divider">Descrizione</h4>
            <div class="ui large fluid input">
              <input ng-show="vm.fr" type="text" class="" placeholder="Description" ng-model="vm.asset.asset_desc_fr">
              <input ng-show="vm.it" type="text" class="" placeholder="Descrizione" ng-model="vm.asset.asset_desc_it">
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui basic segment">
            <h4 ng-show="vm.fr" class="ui horizontal divider">Forme de l'image</h4>
            <h4 ng-show="vm.it" class="ui horizontal divider">Forma dell'immaggine</h4>
            <div class="ui large fluid input">
              <label for="rectangle">Rectangle</label>
              <input type="radio" checked=""  class="" name="areaType" id="rectangle" value="rectangle" ng-model="vm.areaType">
              <label for="circle">Circle</label>
              <input type="radio" class="" name="areaType" id="circle" value="circle" ng-model="vm.areaType">
              <label for="square">Square</label>
              <input type="radio" class="" name="areaType" id="square" value="square" ng-model="vm.areaType">
            </div>
          </div>
         </div>
         <div class="field">
          <div class="ui basic segment">
            <h4 ng-show="vm.fr" class="ui horizontal divider">Eliminer l'original</h4>
            <h4 ng-show="vm.it" class="ui horizontal divider">Cancellare l'originale</h4>
            <div class="ui large fluid input">
              <div class="inline field">
                <div class="ui slider checkbox" 
                     ng-click="vm.removeOriginal=!vm.removeOriginal">
                  <input 
                    type="checkbox" 
                    class="hidden" 
                    ng-model="vm.removeOriginal">
                  <label>Non / Oui</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">Cancel</div>
      <div class="ui positive right labeled icon button" ng-click="vm.updateAsset(vm.modifiedAsset, vm.asset)">Save<i class="checkmark icon"></i> </div>           
    </div>
  </div>
    
  </div>
</div>