<div>
  <div ng-if="!vm.userRequestToValid" class="ui segment top fixed menu" style="min-height: 50px;">
    <div class="header-pos change-lang">
      <h4 class="ui grey inverted right floated header" style="cursor: pointer;">
        <span ng-click="vm.changeLang()"><i class="france flag"></i> FR</span> | <span ng-click="vm.changeLang()"><i class="italy flag"></i> IT</span>
      </h4>
    </div>
  </div>
  <div class="row login_content">

    <div ng-if="vm.isSignin">
      <div class="ui form">
        <div class="field">
          <p ng-show="vm.fr">Login</p>
          <p ng-show="vm.it">Login</p>
        </div>
        <div class="field">
          <input type="email" ng-model="vm.signinMail" placeholder="Email">
        </div>
        <div class="field">
          <input type="password" ng-model="vm.signinPassword" placeholder="Password">
        </div>
        <div class="field">
          <div 
            class="ui vertical animated button blue right floated"
            ng-click="vm.signin()"
            ng-disabled="!vm.validForm"
          >
            <div ng-if="vm.fr" class="hidden content">Valider</div>
            <div ng-if="vm.it" class="hidden content">Validare</div>
            <div class="visible content">
              <i class="check icon"></i>
            </div>
          </div>
          
        </div>
  
        <div class="field">
          <p ng-show="vm.fr">Vous n'avez pas encore de compte ?</p>
          <p ng-show="vm.it">Non hai un conto registrato?</p>
          <div 
            class="ui vertical animated button blue right floated"
            ng-click="vm.isSignin = false; vm.userRequest = true"
          >
            <div ng-if="vm.fr" class="hidden content">Demander</div>
            <div ng-if="vm.it" class="hidden content">Chiedere</div>
            <div class="visible content">
              <i class="plus icon"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <p ng-show="vm.fr">Initialisez / Changez votre mot de passe</p>
          <p ng-show="vm.it">Impostare / Cambiare il password</p>
          <div 
            class="ui vertical animated button blue right floated"
            ng-click="vm.switchSignInSignUp()"
          >
            <div ng-if="vm.fr" class="hidden content">Changer</div>
            <div ng-if="vm.it" class="hidden content">Cambiare</div>
            <div class="visible content">
              <i class="edit icon"></i>
            </div>
          </div>
        </div>
      </div>
      
      </div>
      <div ng-if="vm.isSignup" class="ui form">
        <div class="field">
          <label>
            <span ng-if="vm.fr">Email</span>
            <span ng-if="vm.it">Indirizzo mail</span>
          </label>
          <input type="text" ng-model="vm.signupEmail" placeholder="Email">
        </div>
        <div class="field">
          <label>
            <span ng-if="vm.fr">Mot de passe</span>
            <span ng-if="vm.it">Password</span>
          </label>
          <input type="password" ng-model="vm.signupPass" placeholder="Password">
        </div>
        <div class="field">
          <label>
            <span ng-if="vm.fr">Confirmez votre mot de passe</span>
            <span ng-if="vm.it">Conferma del password</span>
          </label>
          <input type="password" ng-model="vm.signupPassConf" ng-keypress="vm.confirmPassword()" placeholder="Password">
        </div>
        <div class="field">
          <button 
            class="ui button blue"
            ng-click="vm.signup()"
          >
            <span ng-if="vm.fr">Envoyer</span>
            <span ng-if="vm.it">Mandare</span>   
          </button>
        </div>
      </div>

      <div ng-if="vm.userRequest" class="ui form">
        <div class="field">
          <label>
            <span ng-if="vm.fr">Insérez votre adresse email</span>
            <span ng-if="vm.it">Inserire un indirizzo mail valido</span>
          </label>
          <input type="text" ng-model="vm.sendRequestMail" ng-keypress="vm.confirmEmail(vm.sendRequestEmail)" placeholder="Email">
        </div>
        <div class="field">
          <button 
            class="ui button blue"
            ng-click="vm.sendUserRequest()"
            ng-disabled="!vm.confirmEmail(vm.sendRequestEmail)"
          >
            <span ng-if="vm.fr">Envoyer</span>
            <span ng-if="vm.it">Mandare</span>   
        </button>
        </div>
      </div>
  
      <div ng-if="vm.userRequestToValid" class="ui form">
        <div class="field">
          <label>
            <span ng-if="vm.fr">Adresse email</span>
            <span ng-if="vm.it">Indirizzo mail</span>
          </label>
          <input type="text" ng-model="vm.userRequestEmail" placeholder="Email">
        </div>
        <div class="field">
          <label>
            <span ng-if="vm.fr">Role</span>
            <span ng-if="vm.it">Ruolo</span>
          </label>
          <select 
            class="ui fluid dropdown" 
            ng-model="vm.userRequestRole"
          >
            <option value="">Role</option>
            <option value="visitor">Visitor</option>
            <option value="editor">Editor</option>
            <option value="admin">Admin</option>
            <option value="superadmin">Super admin</option>
          </select>
        </div>
        <div class="field">
          <button 
            class="ui button blue"
            ng-click="vm.confirmUserRequest()"
            ng-disabled="!vm.isSuperAdmin"
          >
            <span ng-if="vm.fr">Confirmer</span>
            <span ng-if="vm.it">Confirmare</span>   
          </button>
        </div>
        <div class="field">
          <button 
            class="ui negative button"
            ng-click="vm.refuseUserRequest()"
            ng-disabled="!vm.isSuperAdmin"
          >
            <span ng-if="vm.fr">Refuser</span>
            <span ng-if="vm.it">Rifiutare</span>   
          </button>
        </div>
      </div>
    </div>    
  </div>
</div>
